{{define "help"}}
<p>list of available methods</p>
<table border="1">
    <tbody>
        <tr>
            <td>
                <strong>Path</strong>
            </td>
            <td>
                <strong>Method</strong>
            </td>
            <td>
                <strong>Descrption</strong>
            </td>
        </tr>
        <tr>
            <td>/</td>
            <td>GET</td>
            <td>Main page, redirection to /v1/_help</td>
        </tr>
        <tr>
            <td>/v1/_help</td>
            <td>GET</td>
            <td>This Help message</td>
        </tr>
        <tr>
            <td>/v1/upload</td>
            <td>POST</td>
            <td>Return entries with DRM enabled (drm: true) and at least one episode (episodeCount > 0).</td>
        </tr>
    </tbody>
</table>
Any other methods are not allowed
{{end}}