<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css" integrity="sha256-lUssH++umYLC/97WXqr424ew3ing8e+dATTAmMpCF40=" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>API help page</title>
</head>
<body>
<section class="section">
    <div class="container">
    {{template "help" .}}
    </div>
</section>
</body>
</html>